---
name: sap_deployment_automation_framework
description: |
  Deploy SAP Hana SR scenario using 'SAP deployment automation framework'
vars:
  TEST_CONTEXT: 'OpenQA::Test::RunArgs'
schedule:
  - boot/boot_to_desktop
  - sles4sap/sap_deployment_automation_framework/create_deployer_vm
  - sles4sap/sap_deployment_automation_framework/connect_to_deployer
  - sles4sap/sap_deployment_automation_framework/configure_deployer
  - sles4sap/sap_deployment_automation_framework/deploy_workload_zone
  - sles4sap/sap_deployment_automation_framework/deploy_sap_systems
  - '{{ibsm_setup}}'
  - sles4sap/sap_deployment_automation_framework/execute_playbooks
  - sles4sap/sap_deployment_automation_framework/prepare_ssh_config
  - sles4sap/redirection_tests/check_hana_database
  - sles4sap/redirection_tests/check_ensa2_cluster
  - sles4sap/redirection_tests/check_netweaver
  - '{{ibsm_verify}}'

conditional_schedule:
  ibsm_setup:
    IS_MAINTENANCE:
      1:
        # Configures VNET connection between SDAF SUT network and IBSM
        - sles4sap/sap_deployment_automation_framework/ibsm_configure
  ibsm_verify:
    IS_MAINTENANCE:
      1:
        # Verify SUT being able to reach IBSM server
        - sles4sap/sap_deployment_automation_framework/ibsm_verify
