language: perl
perl:
  - "5.18"
addons:
  apt:
    packages:
      - libdbus-1-dev
      - libssh2-1-dev
before_install:
  - eval $(curl https://travis-perl.github.io/init) --perl
  - echo "requires 'Code::DRY';" >> cpanfile
install:
  - make prepare
script:
  - make test
