extends: default
rules:
  comments:
    level: error
    require-starting-space: true
  line-length:
    max: 160
  document-start: disable
  indentation:
    indent-sequences: whatever
  colons:
    # Ignore spaces after colons
    max-spaces-after: -1
  truthy: disable
