{
  "area": [
    {
      "xpos": 0,
      "ypos": 1,
      "width": 946,
      "height": 763,
      "type": "match",
      "match": 100
    }
  ],
  "properties": [],
  "tags": [
    "gb18030-double-page-1"
  ]
}