resource r0 {
   disk {
      resync-rate 10M;
   }
   connection-mesh {
	hosts 1b009 1b010;
   }
   on 1b009 {
      address   10.162.30.9:7788;
      device    /dev/drbd0 ;
      disk      /dev/vdb1;
      meta-disk internal;
      node-id 0;
   }
   on 1b010 {
      address   10.162.30.10:7788;
      device    /dev/drbd0 ;
      disk      /dev/vdb1;
      meta-disk internal;
      node-id 1;
   }
}
