resource r0 { 
  device /dev/drbd0; 
  disk "/dev/vdb"; 
  meta-disk internal; 
  on host1 { 
    address  ADDR1:7788; 
    node-id 0; 
  }
  on host2 { 
    address ADDR2:7788; 
    node-id 1; 
  }
  disk {
    resync-rate 10M; 
  }
  connection-mesh { 
    hosts host1 host2;
  }
}
